{% load static %}
<style type="text/css">
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5); }
  
  .navbar-nav > li > .dropdown-menu { background-color: rgba(0, 0, 0, 1); }
</style>
<nav class="navbar navbar-expand-md navbar-default fixed-top navbar-dark bg-dark border-bottom">
    <a class="navbar-brand mx-2" href="{% url 'shortner:index' %}">
        <img src="{% static '/images/shortner.jpg' %}" alt="Shortner" width="100" height="80">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {%  if request.user.is_authenticated %}
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav my-2 my-md-0 mr-md-3">
                <li class="nav-item active">
                  <span style="color: #e5e5e5;">
                    Welcome, {{ request.user.first_name}}
                  </span>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-md-0 mr-md-3">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'account:logout' %}">
                    <button class="btn btn-outline-primary my-2 my-sm-0 float-end" type="submit">Logout</button>
                </a>
                </li>
            </ul>
    {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'shortner:index' %}">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-md-0 mr-md-3">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'account:register' %}">
                    <button class="btn btn-outline-primary my-2 my-sm-0 float-end" type="submit">Register</button>
                </a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-md-0 mr-md-3">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'account:signin' %}">
                    <button class="btn btn-outline-primary my-2 my-sm-0 float-end" type="submit">Login</button>
                </a>
                </li>
            </ul>
        </div>
    {% endif %}
  </nav>
  <hr>
  <br/>
  <br/>
  <br/>

