<!-- Your Django Template -->
{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row d-flex p-2 bd-highlight">
            {% if not request.user.is_authenticated %}
                {% include "account/login.html" %}

            {% else %}
                <h1 class="mx-2 my-2">URLShort Url Shortener</h1>
                <a href="{% url 'shortner:create' %}"><button type="button" class="btn btn-success mx-2 my-2">Create New URL</button></a>
                <p class="mx-2 my-2">{{text| title}}</p>
            {% endif %}
    </div>

</div>




<script>

</script>
{% endblock %}
