<!-- Your Django Template -->
{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row d-flex p-2 bd-highlight">
            {% if not request.user.is_authenticated %}
                {% include "account/login.html" %}

            {% else %}
                {% comment %} <h4>Welcome, {{ request.user.first_name}}</h4> {% endcomment %}
                <form method='POST' action="#">
                    <div class="col-md-8 mx-2 my-2">
                        <input type="text" class="my-3 form-control" id="createshortner" aria-describedby="shortner">
                        <button type="submit" class="btn btn-success" id="createbtn">Create Url</button>
                    </div>
                </form>
            {% endif %}
    </div>

</div>




<script>

</script>
{% endblock %}
