{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for data in datas  %}
            <tr>
                <div class="col-md-12 col-6">
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{{data.original_url}}" class=" mx-2 my-3">
                                {{data.short_url}}
                            </a>
                            <button type="submit" id="{{data.id}}" class="btn btn-danger float-right btn-responsive mx-2 my-2" onclick="deleteMtd(this.id)">Delete</button>
                        </td>
                </div>
            </tr>
            {% endfor %}
        </div>
    </div>


    <script>
        function deleteMtd(id){
            let delId=id
            console.log("delete btn clicked!!!", id, typeof(id));
            let delUrl = '/delete/'+id+'/';
            fetch(delUrl, {
                method: 'POST',
                headers: {
                    "Content-Type" : "application/json",
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    id:id
                })
            }).then((
                response => {
                    // console.log(response);
                    location.reload();
                }
            ))
        }
    </script>
{% endblock  %}

