a{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for data in datas  %}
            <tr>
                <div class="col-md-12 col-6">
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="#" class=" mx-2 my-3">
                                {{data.short_url}}
                                <button type="submit" class="btn btn-danger mx-2 my-2">Delete</button>
                            </a>
                        </td>
                </div>
            </tr>
            {% endfor %}
        </div>
    </div>
{% endblock  %}

